openapi: 3.0.3

info:
  title: API de Gerenciamento de Feedbacks
  version: 1.0.0
  description: API para criação, consulta, atualização e remoção de feedbacks.

tags:
  - name: Feedback
    description: Operações relacionadas ao gerenciamento de feedbacks.

paths:
  /feedback:
    post:
      summary: Registrar um novo feedback
      description: Cria um novo registro de feedback.
      operationId: createFeedback
      tags:
        - Feedback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackRequest'
      responses:
        '201':
          description: Feedback registrado com sucesso.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

    get:
      tags:
        - Feedback
      summary: Listar feedbacks
      operationId: listFeedbacks

      parameters:
        - name: descricao
          in: query
          required: false
          description: Texto do feedback.
          schema:
            type: string
            example: Excelente atendimento

        - name: tipoUrgencia
          in: query
          required: false
          description: Nível de urgência do feedback.
          schema:
            $ref: '#/components/schemas/TipoUrgenciaEnum'

        - name: limit
          in: query
          required: false
          description: Limite máxima de registros por página.
          schema:
            type: integer

        - name: offset
          in: query
          required: false
          description: Paginação
          schema:
            type: integer

      responses:
        '200':
          description: Lista de feedbacks encontrados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedFeedbackResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /feedback/{id}:
    get:
      tags:
        - Feedback
      summary: Buscar feedback por ID
      operationId: getFeedbackById
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: Feedback encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

    put:
      tags:
        - Feedback
      summary: Atualizar um feedback
      operationId: updateFeedback
      parameters:
        - $ref: '#/components/parameters/PathId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackRequest'
      responses:
        '204':
          description: Usuário atualizado com sucesso.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

    delete:
      tags:
        - Feedback
      summary: Deletar feedback por ID
      operationId: deleteFeedback
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '204':
          description: Usuário atualizado com sucesso.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  schemas:
    FeedbackRequest:
      type: object
      required:
        - descricao
        - nota
        - tipoUrgenciaEnum
      properties:
        descricao:
          type: string
          description: Texto do feedback.
          example: Excelente atendimento.
        nota:
          type: number
          description: Nota atribuída ao feedback (0 a 10).
          example: 8
        tipoUrgenciaEnum:
          $ref: '#/components/schemas/TipoUrgenciaEnum'

    FeedbackResponse:
      type: object
      properties:
        id:
          type: string
          example: 652ff3a9b1c2d40012ab45de
        descricao:
          type: string
          example: Excelente atendimento.
        nota:
          type: number
          example: 8
        tipoUrgenciaEnum:
          $ref: '#/components/schemas/TipoUrgenciaEnum'
        dataEnvio:
          type: string
          format: date-time
          example: 2025-10-22T20:30:00Z

    TipoUrgenciaEnum:
      type: string
      description: Nível de urgência associado ao feedback.
      enum:
        - BAIXA
        - MEDIA
        - ALTA
        - URGENTE
      example: MEDIA

    PagedFeedbackResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/FeedbackResponse'
        totalElements:
          type: integer
          format: int64
          example: 120
        limit:
          type: integer
          example: 10
        offset:
          type: integer
          example: 0

    ApiError:
      type: object
      properties:
        status:
          type: integer
          example: 400
        error:
          type: string
          example: Bad Request
        message:
          type: string
          example: Parâmetros inválidos.
        path:
          type: string
          example: /feedback
        timestamp:
          type: string
          format: date-time
          example: 2025-10-11T10:30:00Z

  parameters:
    PathId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: ID do usuário (obrigatório para update e delete).


  responses:
    BadRequest:
      description: Requisição inválida.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    Unauthorized:
      description: Falha de autenticação.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    Forbidden:
      description: Acesso negado.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    NotFound:
      description: Recurso não encontrado.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    InternalError:
      description: Erro interno do servidor.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'